@page
@model WebApp_RazorPages.Pages.AccountModel
@{
    ViewData["Title"] = "Account";
}

<section class="account-details">
    <div class="container">
        <div class="left-profile">
            <div class="profile-image">
                <div class="block">
                    <img src="/Icons/profile-icon.png" alt="" id="profile">
                    <img src="/Icons/bx-refresh.svg" alt="" id="refresh">
                </div>

            </div>

            <div class="namespace">
                <h5>John Doe</h5>
                <p>john.doe@domain.com</p>
            </div>
            <div>
                <button class="purple-btn">
                    <img src="/Icons/bx-cog.svg" alt="">
                    Account-details
                </button>
            </div>
            <div>
                <button class="purple-btn">
                    <img src="/Icons/bx-lock-alt.svg" alt="">
                    Account-details
                </button>
            </div>
            <div>
                <button class="purple-btn">
                    <img src="/Icons/bookmark.svg" alt="">
                    Account-details
                </button>
            </div>
            <div>
                <button class="purple-btn">
                    <img src="/Icons/bx-log-out.svg" alt="">
                    Account-details
                </button>
            </div>
        </div>

        <div class="right-profile">
            <div>
                <h1>Account Details</h1>
            </div>
            <div>
                <h4>Basic info</h4>
            </div>

            <div class="block-1">
                <div class="fill-block">
                    <h5>First name</h5>
                    <form action="">
                        <input type="text" placeholder="John">
                    </form>
                </div>
                <div class="fill-block">
                    <h5>Last name</h5>
                    <form action="">
                        <input type="text" placeholder="Doe">
                    </form>
                </div>
            </div>

            <div class="block-2">
                <div class="fill-block">
                    <h5>Email address</h5>
                    <form action="">
                        <input type="text" placeholder="john.doe@domain.com">
                    </form>
                </div>
                <div class="fill-block">
                    <h5>Phone</h5>
                    <form action="">
                        <input type="text" placeholder="Enter your phone">
                    </form>
                </div>
            </div>

            <div class="block-3">
                <div class="block-4">
                    <h5>Bio</h5>
                    <p>(optional)</p>
                </div>
                <form action="">
                    <input type="text" placeholder="Add a short bio...">
                </form>
            </div>

            <div class="block-5">
                <div>
                    <button class="btn-gray">
                        Cancel
                    </button>
                </div>

                <div>
                    <button class="purple-btn">
                        Save changes
                    </button>
                </div>

            </div>

            <div id="address">
                <h4>Address</h4>
            </div>

            <div>
                <div>
                    <h5>Adress line 1</h5>
                </div>
                <form action="">
                    <input type="text" placeholder="Enter your address line">
                </form>
            </div>

            <div>
                <div>
                    <h5>Adress line 2</h5>
                </div>
                <form action="">
                    <input type="text" placeholder="Enter your second address line">
                </form>
            </div>


            <div class="block-1">
                <div class="fill-block">
                    <h5>Postal code</h5>
                    <form action="">
                        <input type="text" placeholder="Enter your postal code">
                    </form>
                </div>
                <div class="fill-block">
                    <h5>City</h5>
                    <form action="">
                        <input type="text" placeholder="Enter your city">
                    </form>
                </div>
            </div>

            <div class="block-5" id="border-none">
                <div>
                    <button class="btn-gray">
                        Cancel
                    </button>
                </div>

                <div>
                    <button class="purple-btn">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>